body{
    text-align: center;
    color: black;
    font-family: "Courier";
    margin: 0;
    padding: 0;

}

#container{
    width: 70%;
    border: 3px gray solid;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    border: solid 5px ;
    background-color: blueviolet;
}